{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    
    <style>
        [name="email"] {
            padding: 1px 10px;
            width: 300px;
        }

        label {
            font-weight: bolder;
        }
    </style>
    <h5>Trouble Signing In?<br>
        <span>request a password reset, and we will have you up again..</span>
    </h5>
    <form method='post'
        style="margin:20px 0px;"
    >
        {%csrf_token%}
        {{form | crispy}}
        <input type="submit" value="forgotten password" class="btn btn-primary px-2 py-1 mt-4"
            style='width:200px;'
        >
    </form>

    <small class="text-muted">
        Try signing in again? <a class="ml-2" href="{% url 'main:login' %}">Log Into Your Account</a>
    </small>
{% endblock %}