{% load static %}
<div    
    style="display: flex; justify-content: center;"
>
<button class="btn bg-transparent mb-2"
    style="margin:auto;text-align: center;"
>
    <a href="{% url 'social:begin' 'google-oauth2' %}">
        <img src="{% static 'img/google.png' %}"
            style="width:200px;margin:auto;height:45px;"
        />
    </a>
</button>

<button class="btn bg-transparent mb-2"
    style="margin:auto;text-align: center;"
>
    <a href="{% url 'social:begin' 'facebook' %}">
        <img src="{% static 'img/facebook.png' %}"
            style="width:200px;margin:auto;height:45px;"
        />
    </a>
</button>
</div>